@page "/modify-learning-space"
@using System.ComponentModel.DataAnnotations
@using System.Text
@using BlazorStrap
@using UCR.ECCI.PI.ThemePark_UCR.ApplicationWeb.LearningArea.Services
@using UCR.ECCI.PI.ThemePark_UCR.ApplicationWeb.LearningSpace.Services
@using UCR.ECCI.PI.ThemePark_UCR.ApplicationWeb.LearningSpace.Services.Interfaces
@using UCR.ECCI.PI.ThemePark_UCR.DomainWeb.LearningArea.Entities
@using UCR.ECCI.PI.ThemePark_UCR.DomainWeb.LearningSpace.Entities;
@using UCR.ECCI.PI.ThemePark_UCR.DomainWeb.LearningSpace.Entities.Wrappers
@using UCR.ECCI.PI.ThemePark_UCR.DomainWeb.Shared.ValueObjects;
@using System.Text.Json;
@using Newtonsoft.Json;
@using UCR.ECCI.PI.ThemePark_UCR.Presentation.Blazor.Components.LearningSpace.ModifyLS
@inject NavigationManager NavigationManager;
@inject ILearningSpaceService learningSpaceService;
@inject HttpClient httpClient;
@inject ILearningSpaceService modifyService;
@inject ILearningSpaceCascadeService _cascade;
@inject ILsTypeServices lsTypeServices;
@inject ILevelService levelService;


@*reference to the create learning space stylesheet used in the page*@
<link href="css/createlearningspace.css" rel="stylesheet" />
<div class="spacing">
    <h3 class="Title_CLS">Modificar Espacio de Aprendizaje</h3>
</div>

@*Bootstrap forms used to create the wanted learning space*@
<BSForm Model="learningSpace" IsRow="true" Gutters="Gutters.Medium" OnSubmit="OnSubmit" OnReset="OnReset">
    <DataAnnotationsValidator />
    <div class="spacing">
        <div class="page-container">
            <BSContainer Position="Position.Relative" Class="bordered-container">
                <BSLabel><h3>Información del espacio de aprendizaje</h3></BSLabel>
                <LearningSpaceInfoCLS LearningSpace="@learningSpace" LSTypesList="lSTypesList" />

                <PhysicalSpaceCLS LearningSpace="@learningSpace" />

                <UniversityLocation LearningSpace="@learningSpace"
                                    />

                <ColorPickerCLS LearningSpace="@learningSpace" />

                <ActionButtonsCLS Asign_later="on"
                                  LearningSpace="@learningSpace"
                                  IsDisabled="@_validateStatus"
                                  GoToLLS="GoToLLS" />
            </BSContainer>
        </div>
    </div>
</BSForm>
